.flex-containar {
  min-height: 500px;
  background-color: rgb(134, 134, 134);
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#item1 {
  order: 2;
}

#item2 {
  order: 4;
}

#item3 {
  order: 1;
}

#item4 {
  order: 5;
}

#item5 {
  order: 3;
}

.flex-item {
  width: 150px;
  height: 150px;
  background-color: rgb(223, 51, 51);
  text-align: center;
  color: aliceblue;
}

.relative {
  position: relative;
  width: 1000px;
  min-height: 100px;
  margin: 0 50px;
  background-color: rgb(134, 134, 134);
}

.child {
  position: absolute;
  /* left: 0;
  top: 0; */

  width: 20px;
  height: 20px;
  border-radius: 100px;
  transform: translate(100px, 20px);
  background-color: rgb(162, 27, 27);
}
